
@{
    ViewData["Title"] = "Requirements";
}

<div class="row">
    <div class="col">
        <h1>Task – Read, Parse and Display XML feed</h1>

        <div>
            Create ASP.NET MVC (we recommend to use MVC 5) web app having only one page. The page should display the latest 10 articles from the XML feed https://www.tungsten-network.com/rss-resourcelibrary/ which have the category “Friction”. Each article should have heading, date, image and the category. You can use some of the styles from here: https://www.tungsten-network.com/uk/resources/resource-library/ Add a button on you page for refreshing the content (articles only not the whole page) and forcing reading the feed from the source again, add appropriate messaging while refreshing the content.
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <h2>Tech specs required:</h2>
        <ol>
            <li>Should be able to build and run the project locally</li>
            <li>Follow best OOP practices and SOLID principles</li>
            <li>Create responsive design (should look good on desktop and mobile)</li>
            <li>Clean up all unused classes(code) and references from the default MVC installation</li>
            <li>Have at least one View and one PartialView</li>
            <li>Have a least one controller</li>
            <li>Use AJAX to load the articles on the page</li>
        </ol>
    </div>
    <div class="col-lg-4">
        <h2>Tech specs optional</h2>
        <ol>
            <li>Use C# to make the request to the XML feed</li>
            <li>Use C# to parse your model</li>
            <li>Use JavaScript to show the message while refreshing the content</li>
            <li>Use Boostrap for responsive design</li>
            <li>Write some Unit Tests (nUnit or MSTest)</li>
        </ol>
    </div>
</div>

